#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

fieldset {width:22%;margin-bottom:10px;}

ul.hmenu, #uploads ul {
  list-style: none;	
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li, #uploads ul li {
  display: inline;  
}