<script id="template-upload" type="text/x-jquery-tmpl">
  <tr class="template-upload{{if error}} ui-state-error{{/if}}">
      <td class="preview"></td>
      <td class="name">${name}</td>
      <td class="size">${sizef}</td>
      {{if error}}
          <td class="error" colspan="2">Error:
              {{if error === 'maxFileSize'}}File is too big
              {{else error === 'minFileSize'}}File is too small
              {{else error === 'acceptFileTypes'}}Filetype not allowed
              {{else error === 'maxNumberOfFiles'}}Max number of files exceeded
              {{else}}${error}
              {{/if}}
          </td>
      {{else}}
          <td class="progress"><div></div></td>
          <td class="start"><button>Start</button></td>
      {{/if}}
      <td class="cancel"><button>Cancel</button></td>
  </tr>
</script>