<div id="container">
  <div id="uploads"></div>
  <div id="slots"><%= render :partial => "slots" %></div>
  <div id="picture_form"><%= render :partial => "form" %></div>
  <div id="pictures_list"><%= render :partial => "pictures" %></div>
</div>
