/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 //= require jquery.fileupload-ui
 //= require nifty-layout
 //= require best_in_place
 //= require shadowbox
*/

#loading {
	top: 50%;
	margin-bottom: 25px;
	margin-left: 45%;
	margin-right: 45%;
	width:128px;
	height:128px;
	background-image: url(../assets/spinner.gif);
}